<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/favicon-32x32.png" />
    <script
      src="https://code.jquery.com/jquery-3.6.1.js"
      integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"
      integrity="sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c="
      crossorigin="anonymous"
    ></script>

    <!-- Select2 -->
    <link rel="stylesheet" href="../../plugins/select2/css/select2.min.css" />
    <link
      rel="stylesheet"
      href="../../plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css"
    />

    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
    />

    <!-- adminLTE -->
    <!-- Google Font: Source Sans Pro -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
    />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css" />
    <!-- Ionicons -->
    <link
      rel="stylesheet"
      href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
    />
    <!-- Tempusdominus Bootstrap 4 -->
    <link
      rel="stylesheet"
      href="/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css"
    />
    <!-- iCheck -->
    <link
      rel="stylesheet"
      href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css"
    />
    <!-- JQVMap -->
    <link rel="stylesheet" href="/plugins/jqvmap/jqvmap.min.css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css" />
    <!-- overlayScrollbars -->
    <link
      rel="stylesheet"
      href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css"
    />
    <!-- Daterange picker -->
    <link
      rel="stylesheet"
      href="/plugins/daterangepicker/daterangepicker.css"
    />
    <!-- summernote -->
    <link rel="stylesheet" href="/plugins/summernote/summernote-bs4.min.css" />
    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>

    <!-- jsGrid -->
    <link
      type="text/css"
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css"
    />

    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"
    ></script>

    <title>VetYouHome</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/index.html">
          <img
            id="logo"
            class="img-fluid"
            src="/images/logo.png"
            style="width: 36px; height: 36px"
            alt=""
          />
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/registers.html">今日掛號</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/records.html">病歷系統</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/inpatients.html">住院部</a>
            </li>
          </ul>
          <div class="nav-item dropdown align-self-end">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="user-dropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="color: #6c757d"
            >
              <img
                id="user-icon"
                class="img-fluid"
                src="/images/user.png"
                style="width: 36px; height: 36px"
                alt=""
              />
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="#" onclick="signout()">登出</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <main>
      <div id="subpage-changer" class="btn-group container-fluid">
        <input
          type="radio"
          class="btn-check"
          name="options"
          id="charged-inpatient-btn"
          autocomplete="off"
          checked
          onchange="showChargedInpatients()"
        />
        <label class="btn btn-outline-primary" for="charged-inpatient-btn"
          >住院動物</label
        >

        <input
          type="radio"
          class="btn-check"
          name="options"
          id="history-search-btn"
          autocomplete="off"
          onchange="showHistoryInpatientSearch()"
        />
        <label class="btn btn-outline-primary" for="history-search-btn"
          >歷史住院搜尋</label
        >
      </div>
      <!-- 所有分區容器 -->
      <div
        id="charged-inpatients-container"
        class="charged-inpatients container-fluid my-1"
      ></div>

      <div
        id="history-inpatients-container"
        class="search-inpatients container-fluid"
        style="display: none"
      >
        <div id="history-search-bar" class="row d-flex">
          <div class="row">
            <div class="form-group history-search-form-group date-range-group">
              <label>出院時間:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="far fa-calendar-alt"></i>
                  </span>
                </div>
                <input
                  type="text"
                  class="form-control float-right"
                  id="date-range"
                  value=""
                />
              </div>
            </div>
            <div class="form-group history-search-form-group">
              <label>主治醫師</label>
              <select
                id="vet"
                class="form-control select2bs4"
                style="width: 100%"
              >
                <option selected="selected" key="">所有醫師</option>
              </select>
            </div>
            <div class="form-group history-search-form-group">
              <label for="record-code">住院編號</label>
              <input
                type="text"
                class="form-control"
                id="record-code"
                placeholder="請輸入住院編號"
              />
            </div>
            <div class="form-group history-search-form-group">
              <label for="owner-fullname">飼主名字</label>
              <input
                type="text"
                class="form-control"
                id="owner-fullname"
                placeholder="請輸入飼主名字"
              />
            </div>
            <div class="form-group history-search-form-group">
              <label for="pet-name">寵物名字</label>
              <input
                type="text"
                class="form-control"
                id="pet-name"
                placeholder="請輸入寵物名字"
              />
            </div>
            <div class="form-group history-search-form-group">
              <label for="pet-code">寵物編號</label>
              <input
                type="text"
                class="form-control"
                id="pet-code"
                placeholder="請輸入寵物編號"
              />
            </div>
            <div class="form-group history-search-form-group">
              <label for="pet-chip">寵物晶片編號</label>
              <input
                type="text"
                class="form-control"
                id="pet-chip"
                placeholder="請輸入寵物晶片編號"
              />
            </div>
            <div class="form-group history-search-form-group">
              <label>物種</label>
              <select
                id="pet-species"
                class="form-control select2bs4"
                style="width: 100%"
              >
                <option key="" selected="selected">所有物種</option>
                <option key="d">犬</option>
                <option key="c">貓</option>
              </select>
            </div>
            <div class="form-group history-search-form-group">
              <label>品種</label>
              <select
                id="pet-breed"
                class="form-control select2bs4"
                style="width: 100%"
              >
                <option selected="selected" key="">所有品種</option>
              </select>
            </div>
          </div>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-1">
                <button
                  type="button"
                  class="search btn btn-secondary"
                  id="unarchive-search-button"
                  style=""
                  onclick="searchInpatients()"
                >
                  搜尋
                  <!-- <img
                src="/images/search.png"
                class="icon search-icon"
                style="height: 100%; width: auto"
                alt=""
              /> -->
                </button>
              </div>
            </div>
          </div>
        </div>
        <div id="history-search-result" class="row row-cols-4"></div>
      </div>
    </main>
    <!-- 變換籠位Modal -->
    <div
      class="modal fade"
      id="swap-cage-modal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">變換籠位</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div id="current-cage" class="modal-body"></div>
          <div id="swap-cage-modal-body" class="modal-body">
            請選擇要與哪個籠位交換或變換到哪一個籠位：
          </div>
          <div id="swap-cage-selection" class="modal-body">
            <select
              id="target-cage"
              class="form-control select2bs4"
              style="width: 100%"
            ></select>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              取消
            </button>
            <button type="button" class="btn btn-primary" onclick="swapCage()">
              確定
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- 查看醫囑Modal -->
    <div
      class="modal fade"
      id="inpatientorder-modal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">查看醫囑</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <!-- <div id="inpatientorder-current-cage" class="modal-body"></div> -->
          <div id="inpatientorder-table"></div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
    <div class="tepmlates" hidden>
      <!-- inpatient header; key: inpatient_order.id -->
      <div
        id="block-cage-container-template"
        class="block-cages border border-dark my-3 container-fluid"
      >
        <div class="row justify-content-center">
          <h4 class="cage-header text-center border-bottom border-dark"></h4>
        </div>
        <div
          id="inpatients-display-${cageBlock}"
          class="row row-cols-4 inpatients-display"
        ></div>
      </div>
      <div
        id="inpatient-order-header-template"
        key=""
        class="inpatientorder-container inpatientorder-container-${inpatientOrder.inpatientOrderId}"
        hidden
      >
        <div class="row inpatientorder-header mx-1">
          <button
            type="button"
            class="btn btn-primary my-1 toggle-btn"
            data-bs-toggle="button"
            autocomplete="off"
            aria-pressed="true"
            onclick="singleInpatientOrderDisplayTurn(this)"
          >
            <div class="fs-3 title"></div>
          </button>
        </div>
        <div key="" class="inpatientorder-content display"></div>
      </div>

      <!-- 單一卡片; key: key: inpatient.id -->
      <div id="inpatient-card-template" class="col-3 my-3 mx-0" key="">
        <div class="inpatient-card border card border-success">
          <!-- 籠位編號 + summary -->
          <div class="col cage text-center fw-bold fs-4"></div>
          <div class="col summary text-center text-danger fw-bold fs-5"></div>
          <!-- 圖片與寵物基本資料 -->
          <div class="col">
            <div class="row">
              <!-- 寵物圖片 -->
              <div
                class="col-4 pet-icon-container justify-content-center d-flex"
                style=""
              >
                <a class="clinic-link align-self-center" href="">
                  <img src="" class="pet-icon col align-self-center" alt="" />
                </a>
              </div>
              <!-- 寵物基本資料 -->
              <div class="col-8 inpatient-info">
                <div class="input-group">
                  <span
                    class="input-group-text"
                    style="background-color: #20c997"
                    >住院編號</span
                  >
                  <input
                    type="text"
                    class="form-control inpatient-code"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    readonly
                  />
                </div>
                <div class="input-group">
                  <span
                    class="input-group-text"
                    style="background-color: #20c997"
                    >寵物</span
                  >
                  <input
                    type="text"
                    class="form-control pet-name"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm"
                    readonly
                  />
                </div>
                <div class="input-group">
                  <span
                    class="input-group-text"
                    style="background-color: #20c997"
                    >住院日期</span
                  >
                  <input
                    type="text"
                    class="form-control charged-start"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm"
                    readonly
                  />
                </div>
                <div class="input-group charge-end-group">
                  <span
                    class="input-group-text"
                    style="background-color: #20c997"
                    >出院日期</span
                  >
                  <input
                    type="text"
                    class="form-control charged-end"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm"
                    readonly
                  />
                </div>

                <div class="input-group">
                  <span
                    class="input-group-text"
                    style="background-color: #20c997"
                    >主治醫師</span
                  >
                  <input
                    type="text"
                    class="form-control vet-fullname"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    readonly
                  />
                </div>
                <div class="input-group">
                  <span
                    class="input-group-text"
                    style="background-color: #20c997"
                    >飼主</span
                  >
                  <input
                    type="text"
                    class="form-control owner-fullname"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm"
                    readonly
                  />
                </div>
                <div class="input-group">
                  <span
                    class="input-group-text"
                    style="background-color: #20c997"
                    >聯絡電話</span
                  >
                  <input
                    type="text"
                    class="form-control owner-cellphone"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm"
                    readonly
                  />
                </div>
              </div>
              <!-- 病歷操作icon -->
            </div>
          </div>
          <div class="col">
            <div class="row operation-group justify-content-center">
              <div class="col-11 btn-group">
                <button type="button" class="btn btn-default">
                  <a class="clinic-link" href="">
                    <img
                      src="/images/medical-record.png"
                      class="operation-icon"
                      alt=""
                    />
                  </a>
                </button>
                <button
                  type="button"
                  class="btn btn-default btn-check-inpatient-order"
                  data-bs-toggle="modal"
                  data-bs-target="#inpatientorder-modal"
                  onclick=""
                >
                  <img
                    src="/images/medical-order.png"
                    class="operation-icon"
                    alt=""
                  />
                </button>
                <button
                  type="button"
                  class="btn btn-default btn-swap-cage"
                  data-bs-toggle="modal"
                  data-bs-target="#swap-cage-modal"
                  onclick=""
                >
                  <img
                    src="/images/exchange.png"
                    class="operation-icon"
                    alt=""
                  />
                </button>
                <button
                  type="button"
                  class="btn btn-default btn-discharge"
                  onclick=""
                >
                  <img
                    src="/images/discharge.png"
                    class="operation-icon"
                    alt=""
                  />
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <link rel="stylesheet" href="/css/general.css" />
  <script src="/js/general-control.js"></script>
  <script src="/js/inpatient-charged.js"></script>
  <script src="/js/inpatient-search.js"></script>
  <script src="/js/inpatient-subpage-control.js"></script>
  <script src="/js/datepicker.js"></script>
</html>
