<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" href="/images/favicon-32x32.png" />
    <!-- jquery -->
    <script
      src="https://code.jquery.com/jquery-3.6.1.js"
      integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"
      integrity="sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c="
      crossorigin="anonymous"
    ></script>

    <!-- Select2 -->
    <link rel="stylesheet" href="../../plugins/select2/css/select2.min.css" />
    <link
      rel="stylesheet"
      href="../../plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css"
    />

    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
    />

    <!-- adminLTE -->
    <!-- Google Font: Source Sans Pro -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
    />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css" />
    <!-- Ionicons -->
    <link
      rel="stylesheet"
      href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
    />
    <!-- Tempusdominus Bootstrap 4 -->
    <link
      rel="stylesheet"
      href="/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css"
    />
    <!-- iCheck -->
    <link
      rel="stylesheet"
      href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css"
    />
    <!-- JQVMap -->
    <link rel="stylesheet" href="/plugins/jqvmap/jqvmap.min.css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css" />
    <!-- overlayScrollbars -->
    <link
      rel="stylesheet"
      href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css"
    />
    <!-- Daterange picker -->
    <link
      rel="stylesheet"
      href="/plugins/daterangepicker/daterangepicker.css"
    />
    <!-- summernote -->
    <link rel="stylesheet" href="/plugins/summernote/summernote-bs4.min.css" />
    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>

    <!-- adminlte -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script> -->
    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css"
    /> -->
    <title>VetYouHome</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/index.html">
          <img
            id="logo"
            class="img-fluid"
            src="/images/logo.png"
            style="width: 36px; height: 36px"
            alt=""
          />
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/registers.html">今日掛號</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/records.html">病歷系統</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/inpatients.html">住院部</a>
            </li>
          </ul>
          <div class="nav-item dropdown align-self-end">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="user-dropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="color: #6c757d"
            >
              <img
                id="user-icon"
                class="img-fluid"
                src="/images/user.png"
                style="width: 36px; height: 36px"
                alt=""
              />
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="#" onclick="signout()"
                  >Sign out</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <main>
      <div id="subpage-changer" class="btn-group container-fluid">
        <input
          type="radio"
          class="btn-check"
          name="options"
          id="unarchive-records-btn"
          autocomplete="off"
          checked
          onchange="showUnarchiveRecords()"
        />
        <label class="btn btn-outline-primary" for="unarchive-records-btn"
          >未歸檔病歷</label
        >

        <!-- <input
          type="radio"
          class="btn-check"
          name="options"
          id="recent-archive-records-btn"
          autocomplete="off"
          onchange="showRecentArchiveRecords()"
        />
        <label class="btn btn-outline-primary" for="recent-archive-records-btn"
          >近期歸檔病歷</label
        > -->

        <input
          type="radio"
          class="btn-check"
          name="options"
          id="history-records-btn"
          autocomplete="off"
          onchange="showHistoryRecordSearch()"
        />
        <label class="btn btn-outline-primary" for="history-records-btn"
          >病歷搜尋</label
        >
      </div>
      <div id="unarchive-records-display" class="container-fluid">
        <div
          id="unarchive-search-bar"
          class="row justify-content-center d-flex"
        >
          <!-- <div class="form-group date-range-group">
            <label>看診日期:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="far fa-calendar-alt"></i>
                </span>
              </div>
              <input
                type="text"
                class="form-control float-right"
                id="date-range"
                value=""
              />
            </div>
          </div> -->
          <div class="col-2">
            <div class="form-group">
              <label>主治醫師</label>
              <select
                id="unarchive-vet-selector"
                class="form-control select2bs4 vet-selector"
                style="width: 100%"
              ></select>
            </div>
          </div>
          <div class="col-2 justify-content-center align-items-center">
            <button
              class="search align-self-center"
              id="unarchive-search-button"
              style="width: 50%"
              onclick="searchUnarchiveRecords()"
            >
              <img src="/images/search.png" class="icon search-icon" alt="" />
            </button>
          </div>
        </div>
        <div id="unarchive-search-result" class="row row-cols-4"></div>
      </div>

      <div
        id="history-records-display"
        class="container-fluid"
        style="display: none"
      >
        <div id="history-search-bar" class="row d-flex">
          <div class="row">
            <div class="form-group history-search-form-group date-range-group">
              <label>看診日期:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="far fa-calendar-alt"></i>
                  </span>
                </div>
                <input
                  type="text"
                  class="form-control float-right"
                  id="date-range"
                  value=""
                />
              </div>
            </div>
            <div class="form-group history-search-form-group">
              <label>主治醫師</label>
              <select
                id="history-search-vet-selector"
                class="form-control select2bs4 vet-selector"
                style="width: 100%"
              ></select>
            </div>
            <div class="form-group history-search-form-group">
              <label for="record-code">病歷編號</label>
              <input
                type="text"
                class="form-control"
                id="record-code"
                placeholder="請輸入病歷編號"
              />
            </div>
            <div class="form-group history-search-form-group">
              <label for="owner-fullname">飼主名字</label>
              <input
                type="text"
                class="form-control"
                id="owner-fullname"
                placeholder="請輸入飼主名字"
              />
            </div>
            <div class="form-group history-search-form-group">
              <label for="pet-name">寵物名字</label>
              <input
                type="text"
                class="form-control"
                id="pet-name"
                placeholder="請輸入寵物名字"
              />
            </div>
            <div class="form-group history-search-form-group">
              <label for="pet-code">寵物編號</label>
              <input
                type="text"
                class="form-control"
                id="pet-code"
                placeholder="請輸入寵物編號"
              />
            </div>
            <div class="form-group history-search-form-group">
              <label for="pet-chip">寵物晶片編號</label>
              <input
                type="text"
                class="form-control"
                id="pet-chip"
                placeholder="請輸入寵物晶片編號"
              />
            </div>
            <div class="form-group history-search-form-group">
              <label>物種</label>
              <select
                id="pet-species"
                class="form-control select2bs4"
                style="width: 100%"
              >
                <option key="" selected="selected">所有物種</option>
                <option key="d">犬</option>
                <option key="c">貓</option>
              </select>
            </div>
            <div class="form-group history-search-form-group">
              <label>品種</label>
              <select
                id="pet-breed"
                class="form-control select2bs4"
                style="width: 100%"
              >
                <option selected="selected" key="">所有品種</option>
              </select>
            </div>
            <div class="form-group history-search-form-group">
              <label>歸檔狀態</label>
              <select
                id="is-archive"
                class="form-control select2bs4"
                style="width: 100%"
              >
                <option selected="selected" key="">請選擇歸檔狀態</option>
                <option key="1">已歸檔</option>
                <option key="0">未歸檔</option>
              </select>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col align-self-center">
                <button
                  class="search"
                  id="search-button"
                  onclick="searchRecords()"
                >
                  <img
                    src="/images/search.png"
                    class="icon search-icon"
                    alt=""
                  />
                </button>
              </div>
            </div>
          </div>
        </div>
        <div id="history-search-result" class="row row-cols-4"></div>
      </div>
    </main>
    <div class="tepmlate" hidden>
      <div id="record-card-template" class="col my-2">
        <div class="row">
          <!-- <div class="col" style="width: 8.8vw; height: auto"> -->
          <div class="col" style="">
            <a class="clinic-link" href="">
              <img src="" class="pet-icon col align-self-center" alt="" />
            </a>
          </div>
          <div class="col record-info">
            <div class="input-group">
              <span class="input-group-text" style="background-color: #20c997"
                >病歷編號</span
              >
              <input
                type="text"
                class="form-control record-code"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default"
                readonly
              />
            </div>
            <div class="input-group">
              <span class="input-group-text" style="background-color: #20c997"
                >看診日期</span
              >
              <input
                type="text"
                class="form-control record-date"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm"
                readonly
              />
            </div>
            <div class="input-group">
              <span class="input-group-text" style="background-color: #20c997"
                >寵物</span
              >
              <input
                type="text"
                class="form-control pet-name"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm"
                readonly
              />
            </div>
            <div class="input-group">
              <span class="input-group-text" style="background-color: #20c997"
                >主治醫師</span
              >
              <input
                type="text"
                class="form-control vet-fullname"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default"
                readonly
              />
            </div>
            <div class="input-group">
              <span class="input-group-text" style="background-color: #20c997"
                >飼主</span
              >
              <input
                type="text"
                class="form-control owner-fullname"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm"
                readonly
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <link rel="stylesheet" href="/css/record-search.css" />
  <script src="/js/record-search.js"></script>
  <script src="/js/datepicker.js"></script>
  <script src="/js/record-subpage-control.js"></script>
  <script type="text/javascript">
    if (!localStorage.user) {
      location.href = "/signin.html";
    }
    const user = JSON.parse(localStorage.user);
    $("#user-dropdown").append(user.fullname);
    async function signout() {
      localStorage.clear();
      location.href = "/signin.html";
    }
  </script>
</html>
